<h2>Create an Author</h2>
<%= form_with(model: @author, url: authors_path, method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone_number, "Phone Number" %>
    <%= form.text_field :phone_number %>
  </div>
  <%= form.submit "Create" %>
<% end %>
