<h2>Editing "<%= @post.title %>"</h2>
<%= form_with(model: @post, url: post_path(@post), method: :patch, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :category, "Category" %>
    <p>Must be either "Fiction" or "Non-Fiction".</p>
    <%= form.text_field :category %>
    <p>
      Please type carefully as our top scientists are working around the clock to
      enable state-of-the-art dropdown technology for this form field.
    </p>
  </div>
  <div class="field">
    <%= form.label :content, "Content" %>
    <br />
    <%= text_area_tag "content", @post.content %>
  </div>
  <%= submit_tag "Update" %>
<% end %>
